@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/core';
@import '~@angular/material/button/button-theme';
@import '~@angular/material/button-toggle/button-toggle-theme';
@import '~@angular/material/card/card-theme';
@import '~@angular/material/checkbox/checkbox-theme';
@import '~@angular/material/grid-list/grid-list-theme';
@import '~@angular/material/icon/icon-theme';
@import '~@angular/material/input/input-theme';
@import '~@angular/material/list/list-theme';
@import '~@angular/material/menu/menu-theme';
@import '~@angular/material/progress-bar/progress-bar-theme';
@import '~@angular/material/progress-circle/progress-circle-theme';
@import '~@angular/material/radio/radio-theme';
@import '~@angular/material/sidenav/sidenav-theme';
@import '~@angular/material/slide-toggle/slide-toggle-theme';
@import '~@angular/material/slider/slider-theme';
@import '~@angular/material/tabs/tabs-theme';
@import '~@angular/material/toolbar/toolbar-theme';
@import '~@angular/material/tooltip/tooltip-theme';

@include md-core();

// Mixin that captures themes for all of the components we use in our app.
@mixin qnahub-theme($theme) {
 @include md-button-theme($theme);
 @include md-button-toggle-theme($theme);
 @include md-card-theme($theme);
 @include md-checkbox-theme($theme);
 @include md-grid-list-theme($theme);
 @include md-icon-theme($theme);
 @include md-input-theme($theme);
 @include md-list-theme($theme);
 @include md-menu-theme($theme);
 @include md-progress-bar-theme($theme);
 @include md-progress-circle-theme($theme);
 @include md-radio-theme($theme);
 @include md-sidenav-theme($theme);
 @include md-slide-toggle-theme($theme);
 @include md-slider-theme($theme);
 @include md-tabs-theme($theme);
 @include md-toolbar-theme($theme);
 @include md-tooltip-theme($theme);
}

$primary: md-palette($md-blue, A700);
$accent:  md-palette($md-indigo, 900);
$warn:    md-palette($md-red);

$theme: md-light-theme($primary, $accent, $warn);

@include qnahub-theme($theme);

.m2app-dark {
  $dark-primary: md-palette($md-blue-grey);
  $dark-accent:  md-palette($md-amber, A200, A100, A400);
  $dark-warn:    md-palette($md-deep-orange);

  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include qnahub-theme($dark-theme);
}
